<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">

        <title>{% block title %}{% endblock %}Minutos</title>

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

        <body>

<!--Navbar-->
            <div id="navbar-app"> 
                <div class="navbar">                
                    <div class="navbar-brand">
                        <div class="navbar-item">
                            <a href="/" class="navbar-item"><strong>Minutos</strong></a>
                        </div>
                    </div>

                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{% url 'plans' %}" class="navbar-item">Plans</a>

                            <div class="navbar-item">
                                <div class="buttons">
                                    <a href="{% url 'signup' %}" class="button is-success">Sign up</a>
                                    <a href="#" class="button">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
<!-- End NavBar-->
            
            <div class="section">
                {% block content %}
                {% endblock %}
            </div>
              
            <footer class="footer">
                <div class="columns is-multiline">
                    <div class="column is-4">
                        <h2 class="subtitle">Minutos</h2>
                    </div>

                    <div class="column is-offset-6 is-2">
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="{% url 'titi' %} ">Privacy</a></li>
                            <li><a href="{% url 'terms' %}">Terms of service</a></li>
                        </ul>
                    </div>

                    <div class="column is-12 has-text-centered">
                        <p>Copyright (c) 2022</p>
                    </div>                    
                </div>
            </footer>

            <!--Scripts-->
            <script src="https://unpkg.com/vue@3"></script>

            {% block scripts %}
            {% endblock %}

        </body>
    </head>
</html>